body{
    /* background-color: #a916ff; */
    position: relative;
    margin: 0 auto;
    /* background-image: url(../img/hero-image-3.jpg); */
    /* background: linear-gradient(var(--purple), #3d348b); */
    background-color: #f2f4fb;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.disp{
    height: 89vh;
}

.disp h1{
    color: #fd9250;
    font-weight: 600;
}


/* ---------- Navbar ---------- */

.navbar{
    margin: 0;
    /* background-color:rgb(210, 39, 128, 0.75); */
    background-color:rgb(94, 34, 127, 0.9);
    /* background:rgba(0, 0, 0, 0.5); */
}

li.nav-item, #signout{
    font-size: 0.8rem;
    margin: 0 0.25rem 0.25rem 0;
    vertical-align: middle;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.6);
}

.nav-item a.nav-link{
    font: 0.85rem 'Raleway', sans-serif;
    vertical-align: middle;
    letter-spacing: 0.07rem;
    transition: 0.1s;
    /* text-transform: uppercase; */
}

#signout{
    font: 0.85rem 'Raleway', sans-serif;
    letter-spacing: 0.07rem;
}

.nav-item a.nav-link:hover{
    /* Faking shadows method 
    text-shadow: 0 0 0.6px rgba(255, 255, 255, 1), 0 0 0.6px rgba(255, 255, 255, 1); */
    font-weight: 600;
}
#signout:hover{
    font-weight: 600;
    letter-spacing: 0.06rem;
}
/* To prevent shifting of other elements on focusing
.nav-item a.nav-link::after, #signout::after{
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
} */

nav ul .nav-item:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f8b500;
    transition: 0.2s;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #f8b500;
    transition: 0.2s;
}

nav ul .nav-item:hover::after{
    width: 100%;
}

/* Only for index page */
.index-nav.navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.75);
}
.index-nav a.nav-link:hover{
    letter-spacing: 0.06rem;
}

/* ----- Common for all pages ----- */

.back-btn a{
    color: #d22780;
    overflow: hidden;
}
.back-btn a i{
    transition: all 0.2s ease;
    /* 0.25s cubic-bezier(.67,.02,.31,.57) */
}

.back-btn a i:hover{
    transform: scale(1.2);
    font-weight: bold;
    /* font-size: 32px; */
    z-index: 1;
}


/* ---------- cust-dashboard.html ---------- */

#display-balance{
    text-align: center;
    font: 2.75rem 'Open Sans', sans-serif;
    /* font-weight: 500; */
}
#amount{
    font-weight: bold;
    letter-spacing: 0.15rem;
}

#add-balance{
    padding: 0;
    background-color: #f8b500;
    border: 2px solid rgb(206, 150, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

#add-balance i{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.35);
    vertical-align: middle;
    overflow: hidden;
}

#add-balance:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /* background-color: rgba(248, 181, 0, 0.75); */
}

.recharge-btn{
    font: 0.9rem 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 1.5rem;
    color: #eee;
    background-color: #a43b87;
    /* width: 100px; */
    height: 45px;
    border-radius: 5rem;
}
.recharge-btn:hover{
    color: #eee;
    background-color: #9b287b;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.load-more{
    font: 0.8rem 'Raleway', sans-serif;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    border-radius: 2rem;
    color: #ddd;
    background-color: #3f88c5;
}
.load-more:hover{
    color: #fff;
}


/* ----- For large screens ----- */

@media screen and (min-width: 992px){

    /* --- Navbar --- */
    li.nav-item, #signout{
        margin: 0 0.25rem;
        vertical-align: middle;
        padding: 0.25rem;
    }
    
    #signout{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 0.25rem 0.85rem;
        border-radius: 5rem;
        background-color: var(--red);
        /* text-transform: uppercase; */
        font: 0.9rem 'Raleway',sans-serif;
        /* background-color: #a916ff; */
        transition: 0.1s;
    }
    #signout:hover{
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.8);
    }

    .navbar-dark .navbar-nav .nav-link:hover{
        color: rgba(255, 255, 255, 0.9);
    }

    .op-page .form-group{
        width: 50%;
    }

    /* --- Index page navbar only --- */
    .index-nav.navbar-nav .nav-link{
        color: rgba(255, 255, 255, 0.6);
    }
}
