/* Navigation bar */
.navbar{
    padding: 0 0.5rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.75rem;
}
.navbar-nav li a:hover ul li a:hover, .navbar-nav li a:hover{
    background-color:lightgrey;
}
.navbar-nav li ul{
    list-style: none;
    padding: 0.25rem 0;
    position: absolute;
    display: none;
    /* background-color: lightgrey; */
    background-color: #f8f9fa;
    min-width: 160px;
    font-size: 0.9rem;
    z-index: 1;
}
.navbar-nav a{
    text-decoration: none;
}
ul li:hover ul{
    display: inline-block;
    position: relative;
    width: 100%;
}
/* Settings page*/

.settings-info ul{
    list-style: none;
}
.settings-info ul li{
    color: grey;
    padding: 0.5rem 0;
}
.settings-info ul li span{
    color: var(--dark);
}

@media screen and (min-width: 1280px){
    .navbar-nav li:hover ul{
        position: absolute;
        margin-left: 0rem;
        padding: 0;
        max-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
    }
}